#affiche {
    letter-spacing: 4px;
    font-family: @font-custom;
    top: 200px;
    z-index: 9999;
    width: 100%;
    padding: 10px;
    text-align: center;
    position: absolute;
    border-radius: 10px;
    animation: move alternate infinite 20s ease-in-out;
    animation-play-state: running;

    &:hover {
        animation-play-state: paused;
    }
}

@keyframes move {
    from {
        transform: translateX(60%);
    }

    to {
        transform: translateX(-60%);
    }
}
