.card {
    text-align: center;
    border-radius: 30px;
    width: 180px;
    min-height: 25px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    padding: 15px;
    margin: 25px 30px;
    display: inline-block;
    font-size: 18px;
    background-color: transparent;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transition-property: transform;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out
    }

    &:active,
    &:focus,
    &:hover {
        color: #fff
    }

    &:active:before,
    &:focus:before,
    &:hover:before {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }

    &:active,
    &:focus,
    &:hover {
        background: #77AAFF;
        text-shadow: 0 0 6px rgba(253, 253, 253, 0.92), 0 0 30px rgba(235, 232, 232, 0.34), 0 0 12px rgba(244, 246, 248, 0.52), 0 0 21px rgba(247, 247, 248, 0.92), 0 0 34px rgba(234, 237, 240, 0.78), 0 0 54px rgba(244, 246, 248, 0.92);
        -webkit-animation-name: hvr-bob-float, hvr-bob;
        animation-name: hvr-bob-float, hvr-bob;
        -webkit-animation-duration: .3s, 1.5s;
        animation-duration: .3s, 1.5s;
        -webkit-animation-delay: 0s, .3s;
        animation-delay: 0s, .3s;
        -webkit-animation-timing-function: ease-out, ease-in-out;
        animation-timing-function: ease-out, ease-in-out;
        -webkit-animation-iteration-count: 1, infinite;
        animation-iteration-count: 1, infinite;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-direction: normal, alternate;
        animation-direction: normal, alternate;
        -webkit-box-shadow: 0 5px 5px -3px rgba(112, 111, 111, 0.2), 0 8px 10px 1px rgba(104, 102, 102, 0.14), 0 3px 14px 2px rgba(155, 154, 154, 0.12);
        box-shadow: 0 5px 10px -3px rgba(105, 105, 105, 0.2), 0 8px 10px 1px rgba(117, 117, 117, 0.14), 0 3px 14px 2px rgba(141, 141, 141, 0.12);
    }
}

@-webkit-keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-6px);
    }
}

@keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-6px);
    }
}

@-webkit-keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    50% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px)
    }

    100% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        transform: translateY(-6px);
    }
}

@keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    50% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px)
    }

    100% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        transform: translateY(-6px);
    }
}
