#user {
    padding: 30px;
    font-size: 18px;
    letter-spacing: 2px;
    color: #333;
    left: 20px;
    height: 180px;
    width: 220px;
    box-shadow: 0 3px 50px 2px rgba(255, 233, 233, 0.4);
    position: absolute;
    z-index: 999;
    border-radius: 30px;
    -webkit-animation: shake 50s infinite ease-in-out;
    animation: shake 50s infinite ease-in-out;

    div {
        margin-bottom: 20px;
        .aTitle();
        padding-bottom: 10px;
        .hoverLine(rgb(221, 221, 221));
    }
}
