@-webkit-keyframes shake {
    2% {
        -webkit-transform: translate(0.5px, -1.5px) rotate(-0.5deg);
        transform: translate(0.5px, -1.5px) rotate(-0.5deg);
    }

    4% {
        -webkit-transform: translate(0.5px, 1.5px) rotate(1.5deg);
        transform: translate(0.5px, 1.5px) rotate(1.5deg);
    }

    6% {
        -webkit-transform: translate(1.5px, 1.5px) rotate(1.5deg);
        transform: translate(1.5px, 1.5px) rotate(1.5deg);
    }

    8% {
        -webkit-transform: translate(2.5px, 1.5px) rotate(0.5deg);
        transform: translate(2.5px, 1.5px) rotate(0.5deg);
    }

    10% {
        -webkit-transform: translate(0.5px, 2.5px) rotate(0.5deg);
        transform: translate(0.5px, 2.5px) rotate(0.5deg);
    }

    12% {
        -webkit-transform: translate(1.5px, 1.5px) rotate(0.5deg);
        transform: translate(1.5px, 1.5px) rotate(0.5deg);
    }

    14% {
        -webkit-transform: translate(0.5px, 0.5px) rotate(0.5deg);
        transform: translate(0.5px, 0.5px) rotate(0.5deg);
    }

    16% {
        -webkit-transform: translate(-1.5px, -0.5px) rotate(1.5deg);
        transform: translate(-1.5px, -0.5px) rotate(1.5deg);
    }

    18% {
        -webkit-transform: translate(0.5px, 0.5px) rotate(1.5deg);
        transform: translate(0.5px, 0.5px) rotate(1.5deg);
    }

    20% {
        -webkit-transform: translate(2.5px, 2.5px) rotate(1.5deg);
        transform: translate(2.5px, 2.5px) rotate(1.5deg);
    }

    22% {
        -webkit-transform: translate(0.5px, -1.5px) rotate(1.5deg);
        transform: translate(0.5px, -1.5px) rotate(1.5deg);
    }

    24% {
        -webkit-transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
        transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
    }

    26% {
        -webkit-transform: translate(1.5px, 0.5px) rotate(1.5deg);
        transform: translate(1.5px, 0.5px) rotate(1.5deg);
    }

    28% {
        -webkit-transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
        transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
    }

    30% {
        -webkit-transform: translate(1.5px, -0.5px) rotate(-0.5deg);
        transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    }

    32% {
        -webkit-transform: translate(2.5px, -1.5px) rotate(1.5deg);
        transform: translate(2.5px, -1.5px) rotate(1.5deg);
    }

    34% {
        -webkit-transform: translate(2.5px, 2.5px) rotate(-0.5deg);
        transform: translate(2.5px, 2.5px) rotate(-0.5deg);
    }

    36% {
        -webkit-transform: translate(0.5px, -1.5px) rotate(0.5deg);
        transform: translate(0.5px, -1.5px) rotate(0.5deg);
    }

    38% {
        -webkit-transform: translate(2.5px, -0.5px) rotate(-0.5deg);
        transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    }

    40% {
        -webkit-transform: translate(-0.5px, 2.5px) rotate(0.5deg);
        transform: translate(-0.5px, 2.5px) rotate(0.5deg);
    }

    42% {
        -webkit-transform: translate(-1.5px, 2.5px) rotate(0.5deg);
        transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    }

    44% {
        -webkit-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
        transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    }

    46% {
        -webkit-transform: translate(1.5px, -0.5px) rotate(-0.5deg);
        transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    }

    48% {
        -webkit-transform: translate(2.5px, -0.5px) rotate(0.5deg);
        transform: translate(2.5px, -0.5px) rotate(0.5deg);
    }

    50% {
        -webkit-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
        transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    }

    52% {
        -webkit-transform: translate(-0.5px, 1.5px) rotate(0.5deg);
        transform: translate(-0.5px, 1.5px) rotate(0.5deg);
    }

    54% {
        -webkit-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
        transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    }

    56% {
        -webkit-transform: translate(0.5px, 2.5px) rotate(1.5deg);
        transform: translate(0.5px, 2.5px) rotate(1.5deg);
    }

    58% {
        -webkit-transform: translate(2.5px, 2.5px) rotate(0.5deg);
        transform: translate(2.5px, 2.5px) rotate(0.5deg);
    }

    60% {
        -webkit-transform: translate(2.5px, -1.5px) rotate(1.5deg);
        transform: translate(2.5px, -1.5px) rotate(1.5deg);
    }

    62% {
        -webkit-transform: translate(-1.5px, 0.5px) rotate(1.5deg);
        transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    }

    64% {
        -webkit-transform: translate(-1.5px, 1.5px) rotate(1.5deg);
        transform: translate(-1.5px, 1.5px) rotate(1.5deg);
    }

    66% {
        -webkit-transform: translate(0.5px, 2.5px) rotate(1.5deg);
        transform: translate(0.5px, 2.5px) rotate(1.5deg);
    }

    68% {
        -webkit-transform: translate(2.5px, -1.5px) rotate(1.5deg);
        transform: translate(2.5px, -1.5px) rotate(1.5deg);
    }

    70% {
        -webkit-transform: translate(2.5px, 2.5px) rotate(0.5deg);
        transform: translate(2.5px, 2.5px) rotate(0.5deg);
    }

    72% {
        -webkit-transform: translate(-0.5px, -1.5px) rotate(1.5deg);
        transform: translate(-0.5px, -1.5px) rotate(1.5deg);
    }

    74% {
        -webkit-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
        transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    }

    76% {
        -webkit-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
        transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    }

    78% {
        -webkit-transform: translate(-1.5px, 2.5px) rotate(0.5deg);
        transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    }

    80% {
        -webkit-transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
        transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    }

    82% {
        -webkit-transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
        transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    }

    84% {
        -webkit-transform: translate(-0.5px, 0.5px) rotate(1.5deg);
        transform: translate(-0.5px, 0.5px) rotate(1.5deg);
    }

    86% {
        -webkit-transform: translate(2.5px, 1.5px) rotate(0.5deg);
        transform: translate(2.5px, 1.5px) rotate(0.5deg);
    }

    88% {
        -webkit-transform: translate(-1.5px, 0.5px) rotate(1.5deg);
        transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    }

    90% {
        -webkit-transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
        transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
    }

    92% {
        -webkit-transform: translate(-1.5px, -1.5px) rotate(1.5deg);
        transform: translate(-1.5px, -1.5px) rotate(1.5deg);
    }

    94% {
        -webkit-transform: translate(0.5px, 0.5px) rotate(-0.5deg);
        transform: translate(0.5px, 0.5px) rotate(-0.5deg);
    }

    96% {
        -webkit-transform: translate(2.5px, -0.5px) rotate(-0.5deg);
        transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    }

    98% {
        -webkit-transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
        transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
    }

    0%, 100% {
        -webkit-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@keyframes shake {
    2% {
        -webkit-transform: translate(0.5px, -1.5px) rotate(-0.5deg);
        transform: translate(0.5px, -1.5px) rotate(-0.5deg);
    }

    4% {
        -webkit-transform: translate(0.5px, 1.5px) rotate(1.5deg);
        transform: translate(0.5px, 1.5px) rotate(1.5deg);
    }

    6% {
        -webkit-transform: translate(1.5px, 1.5px) rotate(1.5deg);
        transform: translate(1.5px, 1.5px) rotate(1.5deg);
    }

    8% {
        -webkit-transform: translate(2.5px, 1.5px) rotate(0.5deg);
        transform: translate(2.5px, 1.5px) rotate(0.5deg);
    }

    10% {
        -webkit-transform: translate(0.5px, 2.5px) rotate(0.5deg);
        transform: translate(0.5px, 2.5px) rotate(0.5deg);
    }

    12% {
        -webkit-transform: translate(1.5px, 1.5px) rotate(0.5deg);
        transform: translate(1.5px, 1.5px) rotate(0.5deg);
    }

    14% {
        -webkit-transform: translate(0.5px, 0.5px) rotate(0.5deg);
        transform: translate(0.5px, 0.5px) rotate(0.5deg);
    }

    16% {
        -webkit-transform: translate(-1.5px, -0.5px) rotate(1.5deg);
        transform: translate(-1.5px, -0.5px) rotate(1.5deg);
    }

    18% {
        -webkit-transform: translate(0.5px, 0.5px) rotate(1.5deg);
        transform: translate(0.5px, 0.5px) rotate(1.5deg);
    }

    20% {
        -webkit-transform: translate(2.5px, 2.5px) rotate(1.5deg);
        transform: translate(2.5px, 2.5px) rotate(1.5deg);
    }

    22% {
        -webkit-transform: translate(0.5px, -1.5px) rotate(1.5deg);
        transform: translate(0.5px, -1.5px) rotate(1.5deg);
    }

    24% {
        -webkit-transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
        transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
    }

    26% {
        -webkit-transform: translate(1.5px, 0.5px) rotate(1.5deg);
        transform: translate(1.5px, 0.5px) rotate(1.5deg);
    }

    28% {
        -webkit-transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
        transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
    }

    30% {
        -webkit-transform: translate(1.5px, -0.5px) rotate(-0.5deg);
        transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    }

    32% {
        -webkit-transform: translate(2.5px, -1.5px) rotate(1.5deg);
        transform: translate(2.5px, -1.5px) rotate(1.5deg);
    }

    34% {
        -webkit-transform: translate(2.5px, 2.5px) rotate(-0.5deg);
        transform: translate(2.5px, 2.5px) rotate(-0.5deg);
    }

    36% {
        -webkit-transform: translate(0.5px, -1.5px) rotate(0.5deg);
        transform: translate(0.5px, -1.5px) rotate(0.5deg);
    }

    38% {
        -webkit-transform: translate(2.5px, -0.5px) rotate(-0.5deg);
        transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    }

    40% {
        -webkit-transform: translate(-0.5px, 2.5px) rotate(0.5deg);
        transform: translate(-0.5px, 2.5px) rotate(0.5deg);
    }

    42% {
        -webkit-transform: translate(-1.5px, 2.5px) rotate(0.5deg);
        transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    }

    44% {
        -webkit-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
        transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    }

    46% {
        -webkit-transform: translate(1.5px, -0.5px) rotate(-0.5deg);
        transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    }

    48% {
        -webkit-transform: translate(2.5px, -0.5px) rotate(0.5deg);
        transform: translate(2.5px, -0.5px) rotate(0.5deg);
    }

    50% {
        -webkit-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
        transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    }

    52% {
        -webkit-transform: translate(-0.5px, 1.5px) rotate(0.5deg);
        transform: translate(-0.5px, 1.5px) rotate(0.5deg);
    }

    54% {
        -webkit-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
        transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    }

    56% {
        -webkit-transform: translate(0.5px, 2.5px) rotate(1.5deg);
        transform: translate(0.5px, 2.5px) rotate(1.5deg);
    }

    58% {
        -webkit-transform: translate(2.5px, 2.5px) rotate(0.5deg);
        transform: translate(2.5px, 2.5px) rotate(0.5deg);
    }

    60% {
        -webkit-transform: translate(2.5px, -1.5px) rotate(1.5deg);
        transform: translate(2.5px, -1.5px) rotate(1.5deg);
    }

    62% {
        -webkit-transform: translate(-1.5px, 0.5px) rotate(1.5deg);
        transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    }

    64% {
        -webkit-transform: translate(-1.5px, 1.5px) rotate(1.5deg);
        transform: translate(-1.5px, 1.5px) rotate(1.5deg);
    }

    66% {
        -webkit-transform: translate(0.5px, 2.5px) rotate(1.5deg);
        transform: translate(0.5px, 2.5px) rotate(1.5deg);
    }

    68% {
        -webkit-transform: translate(2.5px, -1.5px) rotate(1.5deg);
        transform: translate(2.5px, -1.5px) rotate(1.5deg);
    }

    70% {
        -webkit-transform: translate(2.5px, 2.5px) rotate(0.5deg);
        transform: translate(2.5px, 2.5px) rotate(0.5deg);
    }

    72% {
        -webkit-transform: translate(-0.5px, -1.5px) rotate(1.5deg);
        transform: translate(-0.5px, -1.5px) rotate(1.5deg);
    }

    74% {
        -webkit-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
        transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    }

    76% {
        -webkit-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
        transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    }

    78% {
        -webkit-transform: translate(-1.5px, 2.5px) rotate(0.5deg);
        transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    }

    80% {
        -webkit-transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
        transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    }

    82% {
        -webkit-transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
        transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    }

    84% {
        -webkit-transform: translate(-0.5px, 0.5px) rotate(1.5deg);
        transform: translate(-0.5px, 0.5px) rotate(1.5deg);
    }

    86% {
        -webkit-transform: translate(2.5px, 1.5px) rotate(0.5deg);
        transform: translate(2.5px, 1.5px) rotate(0.5deg);
    }

    88% {
        -webkit-transform: translate(-1.5px, 0.5px) rotate(1.5deg);
        transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    }

    90% {
        -webkit-transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
        transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
    }

    92% {
        -webkit-transform: translate(-1.5px, -1.5px) rotate(1.5deg);
        transform: translate(-1.5px, -1.5px) rotate(1.5deg);
    }

    94% {
        -webkit-transform: translate(0.5px, 0.5px) rotate(-0.5deg);
        transform: translate(0.5px, 0.5px) rotate(-0.5deg);
    }

    96% {
        -webkit-transform: translate(2.5px, -0.5px) rotate(-0.5deg);
        transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    }

    98% {
        -webkit-transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
        transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
    }

    0%, 100% {
        -webkit-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}
