﻿@import "main";
@import "../component/form/button";
@import "../component/form/radio";
@import "../component/main/navigation";

#tip {
    position: absolute;
    font-size: 18px;
    font-family: @font-content;
    letter-spacing: 2px;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    color: rgb(52, 194, 94);
    text-shadow: rgb(85, 221, 73) 0px 0px 10px;
}

#main {
    margin-top: 230px;
    position: relative;
    left: 25%;
}
.prev {
    margin-left: 180px;
    margin-right: 100px;
}
.question {
    margin-bottom: 2em;
}

.option {
    position: absolute;
    transform: translateY(-45px) translateX(50px)
}

.problem {
    position: absolute;
    font-family: @font-content;
    letter-spacing: 3px;
    font-size: 18px;
    margin-bottom: 4em;
    box-shadow: 0 0 30px #ccc;
    width: 800px;
    padding: 15px 30px 15px 30px;
}


.Leaderboards {
    position: absolute;
    padding: 30px 20px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #333;
    left: 20px;
    height: 120px;
    width: 220px;
    box-shadow: 0 3px 50px 2px rgba(190, 237, 245, 0.4);
    position: absolute;
    z-index: 999;
    border-radius: 30px;
    animation: shake 50s infinite ease-in-out;
    span {
        color: rgb(230, 78, 78);
        text-shadow: rgb(211, 210, 210) 0px 0px 1px, rgb(209, 209, 207) 0px 0px 1px, rgb(214, 214, 212) 0px 0px 2px;
    }
}

#sure {
    transform: translateY(-20px);
    margin-left: 20%;
    margin-bottom: 1%;
}

.navigation {
    transform: translateY(340px)
}